# csv 파일 불러오기

In [5]:
# 영어컬럼 불러올때 latin1으로 설정하기
# 한글컬럼 불러올때 encoding = 'euc-kr'
a<-read.csv('ex_comma.csv', header=T, sep=',', encoding='latin1', na.strings="-")
a

  name gender math english korean attend
1 PARK F       65   80     100    FALSE
2 HAN  M       75   60      80     TRUE
3 LEE  F       80  100      70    FALSE
4 SHIN M       95   70     100     TRUE
5 KIM  M      100   80      50     TRUE

In [6]:
# csv파일 데이터가 한열에 모두 있을때 sep='\t'
b<-read.csv('ex_tab.csv', header=T, sep='\t', encoding='latin1')
b

  name gender math english korean attend
1 PARK F       65   80     100    FALSE
2 HAN  M       75   60      80     TRUE
3 LEE  F       80  100      70    FALSE
4 SHIN M       95   70     100     TRUE
5 KIM  M      100   80      50     TRUE

In [7]:
c<-read.csv(file.choose(), header=T, sep=',', encoding='latin1')
c

ERROR: Error in file.choose(): 파일선택이 취소되었습니다

In [8]:
install.packages("xlsx")
library(xlsx)

also installing the dependencies 'rJava', 'xlsxjars'

  There is a binary version available but the source version is later:
      binary source needs_compilation
rJava  1.0-4  1.0-6              TRUE

  Binaries will be installed
package 'rJava' successfully unpacked and MD5 sums checked
package 'xlsxjars' successfully unpacked and MD5 sums checked
package 'xlsx' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\MyCom\AppData\Local\Temp\Rtmp0EJhGB\downloaded_packages

Warning message:
"package 'xlsx' was built under R version 3.6.3"

In [10]:
d<-read.xlsx('ex_xlsx.xlsx', sheetIndex=1, encoding='UTF-8')
d

  name gender math english korean attend
1 PARK F       65   80     100    FALSE
2 HAN  M       75   60      80     TRUE
3 LEE  F       80  100      70    FALSE
4 SHIN M       95   70     100     TRUE
5 KIM  M      100   80      50     TRUE

In [12]:
d$total <- d$math + d$english + d$korean
d

  name gender math english korean attend total
1 PARK F       65   80     100    FALSE  245
2 HAN  M       75   60      80     TRUE  215
3 LEE  F       80  100      70    FALSE  250
4 SHIN M       95   70     100     TRUE  265
5 KIM  M      100   80      50     TRUE  230

In [13]:
#csv 파일 저장 하고 쓰기 
write.table(d, 'save_sample.csv', row.names=FALSE, quote=FALSE, sep=',')